<h1>Create category</h1>

<form action="/categories/create" method="post">
  <input type="hidden" name="id">
  <input type="text" name="name" placeholder="Category name">
  <button type=submit>New Category</button>
</form>